version: "3.7"
services:
  elasticsearch:
    image: blacktop/elasticsearch:7.10
    container_name: elasticsearch
    hostname: elasticsearch
    environment:
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9300:9300"
    networks:
    - default

  kibana:
    image: blacktop/kibana:7.6
    container_name: kibana
    hostname: kibana
    ports:
      - "5601:5601"
    networks:
    - default

networks:
  default:
